/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');

/* PARTE DEL BANNER */
#logoTop{
    display: flex;
}
#banner {
    image-rendering: optimizeQuality;
    width: 900px;
    height: 120px;
    margin-left: 2%;
}

#user {
    width: 75px;
    height: 60px;
    image-rendering: optimizeQuality;
    margin-left: 220%; 
    margin-top: 60%;  
 }

/* PARTE DEL NAVEGADOR */
#navegador ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: darkorange ;
}

#navegador li {
    float: left;
    text-align: center;
}

#navegador li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navegador li a:hover {
    background-color: #007f3f;
}

/* PARTE DEL PERFIL */
#information {
    width: 100%;
    max-width: 1000px;
    margin:auto;
    padding: 60px;

}
#information img {
    border: 9px solid darkorange;
    border-radius: 25%;
    margin: 10px;
    width: 400px;
    height: 350px;
    float: left;
}
#information p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 90px;
    font-family: 'Arima Madurai', cursive;
}
/* PARTE FORMULARIOS */
#formulario {
    display: block;
    margin-left: 10%;
    margin-top: 3%;
    padding: 0px;
}

/*PARTE TABLA CON INFORMACION*/

#infoTabla{
   border-collapse: collapse;
   margin-top: 3%;
   margin-left: 10%;
}

#infoTabla td, th{
     border: solid;
}

#infoTabla th{
   border-collapse: collapse;
   font-size: 120%;
}